{% set taxlist = children_only is defined ? taxonomylist.getChildPagesTags( children_only ) : taxonomylist.get() %}
{% if taxlist %}
    
          {% for tax ,value in taxlist[taxonomy] %}
              {% set active = uri.query(taxonomy) == tax? 'active' : '' %}
              {% set hasMany = value > 1 %}
                  <a title='{{value}} {{'PLUGIN_GRAV-TAXO-FILTER.PAGES'|t}}{{hasMany?'PLUGIN_GRAV-TAXO-FILTER.PAGE_PLURIEL'|t:''}} {{'PLUGIN_GRAV-TAXO-FILTER.WITH'|t}} {{ taxonomy|upper}} "{{ tax}}"'
                      class="tooltip tag {{ active }} weight{{value}}" 
                     href="{{ base_url }}?{{ taxonomy }}={{ tax }}">
                      {{ tax }} <span>{{value}}</span></a>
          {% endfor %}
{% endif %}